# Deployment environment
DEPLOY_ENV=staging

# Image registry configuration
REGISTRY=docker.io
IMAGE_NAMESPACE=your-dockerhub-namespace
IMAGE_TAG=latest

# Mongo
MONGO_ROOT_USER=jirathon
MONGO_ROOT_PASSWORD=replace-me

# AI Evaluation
AIEVAL_ADMIN_TOKEN=replace-me
AIEVAL_OPENAI_API_KEY=

# SMTP
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
